<!DOCTYPE html>
<html lang="en">

<head>
	<title>Burger Time</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
	<link rel="stylesheet" href="../css/view.css">
</head>

<body>

	{{{ body }}}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
	<script src="../javascript/view.js"></script>
</body>

</html>
