
		<img src="http://placehold.it/150x150" alt="main burger">
<aside class="col s1"></aside>
<div id="placedOrders" class="col s3"></div>
<div id="orderText" class="col s4"></div>
<div id="eatten" class="col s3"></div>
<aside class="col s1"></aside>
